In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [3]:
df = pd.read_csv("Datasets/titanic/train.csv")

In [4]:
print(df.shape)
df.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df = df.dropna()

# Task


> Tutaj wgraj skrytp wyznaczający szanse przeżycia chłopca 2 lata, 3 rodzeństwa 1 rodzic, zapłacił 10 funtów i podróżuje 3 klasą

In [18]:
rfc_grid = {'n_estimators': [50, 100, 200, 500],
               'max_features': ['auto', 'sqrt'],
               'max_depth': [int(x) for x in np.linspace(10, 120, num = 10)],
#                 'class_weight' : [{1:0.5, 0:0.5}, {1:0.4, 0:0.6}, {1:0.6, 0:0.4}],
               'min_samples_split': [ 5, 7, 10],
               'min_samples_leaf': [4, 5 ,7],
               'bootstrap': [True, False]
           }

In [19]:
relevant_columns = ["Sex", "Age", "SibSp", "Parch", "Fare", "Pclass"]
featured_object = [1, 2, 3, 1, 10, 3]

In [15]:
df["Sex"] = df["Sex"] == "male"
X_data = df[relevant_columns].values
y_data = df["Survived"].values

/usr/local/lib/python3.6/dist-packages/pandas/core/ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [19]:
def fillna(data):
    pass

In [ ]:
X_data = fillna(X_data)

In [21]:
def use_grid_search(model, grid):
    rf_random = GridSearchCV(estimator = model(), param_grid = grid, cv = 3, verbose=2, n_jobs=-1) 
    rf_random.fit(X=X_data, y=y_data)
    best_params = rf_random.best_params_
    best_model = model(**best_params)
    best_model.fit(X_data, y_data)
    return best_model

In [22]:
best_model = use_grid_search(RandomForestClassifier, rfc_grid)

Fitting 3 folds for each of 1440 candidates, totalling 4320 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:    3.2s
[Parallel(n_jobs=-1)]: Done 312 tasks      | elapsed:   10.1s
[Parallel(n_jobs=-1)]: Done 515 tasks      | elapsed:   16.9s
[Parallel(n_jobs=-1)]: Done 798 tasks      | elapsed:   26.6s
[Parallel(n_jobs=-1)]: Done 1163 tasks      | elapsed:   39.2s
[Parallel(n_jobs=-1)]: Done 1608 tasks      | elapsed:   54.5s
[Parallel(n_jobs=-1)]: Done 2135 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 2742 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done 3431 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 4200 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done 4320 out of 4320 | elapsed:  2.4min finished

In [24]:
best_model.predict_proba([featured_object])

array([[0.36535594, 0.63464406]])

In [27]:
best_model.feature_importances_

array([0.42508735, 0.30118631, 0.03281462, 0.03043267, 0.19174492,
       0.01873412])