In [40]:
import pandas as pd
import xgboost as xgb

In [41]:
data = pd.read_csv("train.csv")

### Preprocesing

In [42]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [43]:
data = data.dropna()

In [44]:
X_train = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']].copy()
y_train = data['Survived']

In [45]:
X_train.loc[:,'Sex'] = [1 if sex=="male" else 0 for sex in X_train["Sex"]]

In [46]:
X_train.head()

    Pclass  Sex   Age  SibSp  Parch     Fare
1        1    0  38.0      1      0  71.2833
3        1    0  35.0      1      0  53.1000
6        1    1  54.0      0      0  51.8625
10       3    0   4.0      1      1  16.7000
11       1    0  58.0      0      0  26.5500

### Predykcja za pomocÄ… XGBoost

In [49]:
gbm = xgb.XGBClassifier(
     learning_rate =0.1,
     n_estimators=50,
     max_depth=8,
     min_child_weight=1,
     gamma=0,
     subsample=0.8,
     colsample_bytree=0.8,
     objective='binary:logistic',
     nthread=4,
     scale_pos_weight=1,
     seed=27).fit(X_train, y_train)

X_test = X_train.iloc[0:0].copy()
X_test.loc[0] = [value for key, value in {'Pclass':3, 'Sex':1, 'Age':2, 'SibSp':3, 'Parch':1, 'Fare':10}.items()]

y_pred = gbm.predict_proba(X_test)
y_pred = [x[1] for x in y_pred]
y_pred

[0.54630667]