In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['test.csv', 'train.csv', 'gender_submission.csv']

In [2]:
train_df = pd.read_csv("../input/train.csv")
test_df = pd.read_csv("../input/test.csv")

In [3]:
train_df.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

In [77]:
from sklearn import svm

In [78]:
x = train_df.loc[:, ["PassengerId", "Pclass", "Sex", "Age", "Parch", "SibSp", "Fare"]]
y = train_df.loc[:, ["PassengerId", "Survived"]]

In [79]:
df = x.merge(y, left_on="PassengerId", right_on="PassengerId", how="inner")
df = df.dropna()
df["Sex"] = df.Sex.apply(lambda x: 1 if x == "male" else 0)
x = df.iloc[:, 1:-2]
y = df.loc[:, ["Survived"]]

In [84]:
mod = svm.SVC(probability=True)

In [85]:
x

     Pclass  Sex   Age  Parch  SibSp
0         3    1  22.0      0      1
1         1    0  38.0      0      1
2         3    0  26.0      0      0
3         1    0  35.0      0      1
4         3    1  35.0      0      0
6         1    1  54.0      0      0
7         3    1   2.0      1      3
8         3    0  27.0      2      0
9         2    0  14.0      0      1
10        3    0   4.0      1      1
11        1    0  58.0      0      0
12        3    1  20.0      0      0
13        3    1  39.0      5      1
14        3    0  14.0      0      0
15        2    0  55.0      0      0
16        3    1   2.0      1      4
18        3    0  31.0      0      1
20        2    1  35.0      0      0
21        2    1  34.0      0      0
22        3    0  15.0      0      0
23        1    1  28.0      0      0
24        3    0   8.0      1      3
25        3    0  38.0      5      1
27        1    1  19.0      2      3
30        1    1  40.0      0      0
33        2    1  66.0      0      0
34        1    1  28.0      0      1
35        1    1  42.0      0      1
37        3    1  21.0      0      0
38        3    0  18.0      0      2
..      ...  ...   ...    ...    ...
856       1    0  45.0      1      1
857       1    1  51.0      0      0
858       3    0  24.0      3      0
860       3    1  41.0      0      2
861       2    1  21.0      0      1
862       1    0  48.0      0      0
864       2    1  24.0      0      0
865       2    0  42.0      0      0
866       2    0  27.0      0      1
867       1    1  31.0      0      0
869       3    1   4.0      1      1
870       3    1  26.0      0      0
871       1    0  47.0      1      1
872       1    1  33.0      0      0
873       3    1  47.0      0      0
874       2    0  28.0      0      1
875       3    0  15.0      0      0
876       3    1  20.0      0      0
877       3    1  19.0      0      0
879       1    0  56.0      1      0
880       2    0  25.0      1      0
881       3    1  33.0      0      0
882       3    0  22.0      0      0
883       2    1  28.0      0      0
884       3    1  25.0      0      0
885       3    0  39.0      5      0
886       2    1  27.0      0      0
887       1    0  19.0      0      0
889       1    1  26.0      0      0
890       3    1  32.0      0      0

[714 rows x 5 columns]

In [86]:
mod.fit(x.values, y.values)

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=True, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [87]:
pred = mod.predict_proba([[3, 1, 2, 1, 3]])

In [88]:
pred

array([[0.83942624, 0.16057376]])